{% extends 'base/master.html.twig' %}

{% block title %}OBS Test{% endblock %}

{% block head %}
  <style>
    html {
      height: 100%;
    }
    body {
      padding: 0;
      background: #2B2B2B;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }
    .sf-toolbar {
      display: none !important;
    }

    iframe {
      border: 5px solid transparent;
      position: absolute;
      width: 202px;
      overflow: hidden;
      bottom: 103px;
      left: -5px;
      height: 183px;
    }
  </style>
{% endblock %}

{% block body %}
  <div style="width: 1920px; height: 1080px; background: #EEF1FE; position: relative;">
    <img src="{{ asset('img/Overlay-1.png') }}">
    <iframe src="{{ path('obsOverlay', getParams) }}" scrolling="no"></iframe>
  </div>
{% endblock %}
