{% extends 'base/master.html.twig' %}

{% block fullTitle %}/v/3 - Presented by the /v/GA team{% endblock %}

{% block head %}
  <style type="text/css">
    html, body, #twitch-embed {
      margin: 0;
      height: 100%;
      padding: 0;
    }

    body {
      overflow: hidden;
    }
  </style>
{% endblock %}

{% block body %}
  <div id="twitch-embed"></div>
  <script src="https://embed.twitch.tv/embed/v1.js"></script>
  <script type="text/javascript">
      new Twitch.Embed("twitch-embed", {
          width: '100%',
          height: '100%',
          channel: "vidyagaemawards"
      });
  </script>
{% endblock %}
