{% extends 'base/standard.html.twig' %}

{% block content %}
  <h1 class="page-header">Twitch Chat Monitor</h1>

  <div class="row">
    <div class="col-xs-12">
      
    </div>
  </div>
{% endblock %}
